# fly.toml app configuration file generated for ekaty on 2025-10-06T09:39:30-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ekaty'
primary_region = 'dfw'

[build]

[env]
  NEXT_PUBLIC_APP_NAME = 'eKaty'
  NEXT_PUBLIC_APP_URL = 'https://ekaty.fly.dev'
  NODE_ENV = 'production'
  DATABASE_URL = 'file:/data/ekaty.db'

[[mounts]]
  source = 'ekaty_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
